@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@900&display=swap');



body{
    padding:0px;
    margin:0px;
    background-image:url('calendar_v3.jpg');
    width:100%;
    height:0;
    padding-bottom:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    font-weight: bolder;
    font-family: 'Play', sans-serif;
}
.center_content{
width:1100px;
}

#bigdate{
    padding-top:15vh;
    /* font-family: 'Black Ops One', cursive; */
    font-family: 'Big Shoulders Inline Text', cursive;
    
    font-size:70px;
    line-height:60px;
    text-align:right;
    color:#F2E205;
}

.todayis{
    color:#F2E205;
}


.aside{
    display:block;
    color:#1D1D1D;
    position:absolute;
    right:5px;
    top:5vh;
}

.asideli{
    display:block;
    list-style-type:disc;
    font-family: 'Play', sans-serif;
    font-size:20px;
    text-align:center;
    width:150px;
    height:70px;
    padding:5px;
    padding-top:7px;
    line-height: 50px;
}

.li1{
    background-image:url('asideblue.gif');
    background-repeat:no-repeat;
    background-size:120px,50px;
    background-position: center;
}

.li2{
    background-image:url('asidered.gif');
    background-repeat:no-repeat;
    background-size:120px,50px;
    background-position: center;
}

.li3{
    background-image:url('asideblue2.gif');
    background-repeat:no-repeat;
    background-size:120px,50px;
    background-position: center;
}

a:hover{
    text-decoration: none;
    color:#ddd;
    font-size:25px;
}

/* #e08122  #c7ba05  深紅#730202  黃色深紅中間色#9d4d03 */
a:link{
    color:#ddd;
}

a:visited{
    color:#ddd;
}
a:active{
    color:#ddd;
}

/* @media (min-width:768px){.table{width:600px;}} */

table{
    border:1px solid #34556A;
    box-shadow: 0px 0px 10px #34556A;
}


table tr:first-child{
    border-top:1px solid #34556A;
    box-shadow: 0px 1px 10px #34556A;
    
}


/* #6BB0DB淺藍  #5B96BA深藍 */
.week{
    color:#6BB0DB;
    font-weight:bolder;
    background-color:#393939;
    opacity:80%;
}
.week:hover{
    color:#6BB0DB;
}

table td {
    text-align:center;
    padding:15px 0;
    font-size:20px;
    color:#eee;
    
}
.nottoday:hover{
    color:#eee;
    background-size:50px 50px;
    background-position:center;
    background-repeat:no-repeat;
    background-image:url('dogpaw.gif');
    
    
}

#today{
    color:#F2E205;
}

#today:hover{
    opacity: 100%;
    background:none;
    font-weight:bolder;
    color:#F2E205;
    background-size:50px 50px;
    background-position:center;
    background-repeat:no-repeat;
    background-image:url('dogpaw.gif');
}

.lefttext{
    display:fixed;
    position:absolute;
    left:45px;
    /* bottom:10px; */
    color:#1D1D1D;
    font-family: 'Black Ops One', cursive;
    font-size:30px;
    line-height:30px;
    
}

.l1{
    bottom:70px;
}

.lefttext2{
    left:8px;
    font-size:50px;
    bottom:75px;
}

.l2{
    bottom:40px;
    left:10px;
}

.l3{
    bottom:10px;
    left:10px;
}


.qq_block{
    position: absolute;
    bottom:-80px;
    right:-2px;
    /* top:5px;
    left:5px; */
    transform:rotate(0deg);
    z-index:-1;
}



@media(max-width:768px){
    .bigdate{
        font-size:50px;
    }
}

